@use "utils";
@import url("https://fonts.googleapis.com/css2?family=Lexend+Mega:wght@100..900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  size: 16px;
}

html,
body {
  background: utils.$secondary-color;
  width: 100%;
  height: 100%;
  font-family: "Lexend Mega", sans-serif;
  @include utils.flex-center();
  flex-direction: column;
  gap: 2rem;
}
