@use "utils";

.timer {
  @include utils.flex-center();
  flex-grow: 1;
  flex-direction: column;
  transition: all 0.25s ease;
  width: 100%;

  &--collapsed {
    flex-grow: 0;
    flex-direction: row;
    justify-content: flex-start;
    padding: 0.5rem 0.5rem 0 0.5rem;

    span {
      font-size: 0.5rem;
    }
  }

  &__clock {
    height: 100%;
    @include utils.flex-center();
  }

  &__start {
    transition:
      width 0.25s,
      height 0.25s,
      border-radius 0.25s;
    background: utils.$gray-10;
    color: utils.$gray-80;
    @include utils.flex-center();

    &--active {
      width: 10rem !important;
      height: 10rem !important;
    }
  }

  &__controls {
    gap: 0.5rem;
    width: 50%;
    @include utils.flex-center();

    &--collapsed {
      width: auto;
    }
  }

  &__stop {
    flex-grow: 5;
    margin-left: 0.75rem;
    background: utils.$gray-80 !important;
    @include utils.shadowed-border();

    span {
      color: utils.$white !important;
    }
  }
}

.button {
  background: utils.$white;
  @include utils.shadowed-border();
  width: 6rem;
  height: 3rem;
  font-family: inherit;
  @include utils.flex-center();

  &--s {
    width: 4rem !important;
    height: 2rem !important;
  }

  &--xs {
    width: 1.5rem !important;
    height: 1.5rem !important;
  }

  &--round {
    border-radius: 50% !important;
  }
}
