@use "utils";

.timer {
  flex-grow: 1;
  @include utils.flex-center();
  flex-direction: column;

  &__time {
    width: 100%;
    height: 100%;
    @include utils.flex-center();
  }

  &__clockin {
    transition-duration: 0.25s;
    transition-property: width, height, border-radius;

    // For when the button is clicked
    // &:hover {
    //   width: 20rem;
    //   height: 20rem;
    //   border-radius: 10rem;
    // }
  }

  &__controls {
    gap: 0.5rem;
    width: 50%;
    @include utils.flex-center();
  }

  &__clockout {
    flex-grow: 5;
    margin-left: 1rem;
  }

  &__pause,
  &__resume {
    width: 2rem !important;
  }
}

.panel {
  flex-grow: 2;
  background: utils.$tertiary-color;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  @include utils.shadowed-border();
  width: 95%;
  height: 10rem;
}

.history {
  &__table {
    width: 100%;
    overflow-y: scroll;
    text-align: center;

    th,
    td {
      padding: 0.5rem;
    }

    tbody {
      overflow: scroll;
    }
  }
}

.button {
  background: utils.$primary-color;
  @include utils.shadowed-border();
  width: 6rem;
  height: 3rem;

  &--round {
    border-radius: 50%;
  }

  &--s {
    width: 4.5rem;
    height: 2rem;
  }
}
