@use "utils";

.nav {
  margin-bottom: 2rem;
  background: utils.$secondary-color;
  width: 95%;
  @include utils.shadowed-border();

  ul {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 3rem;
    list-style-type: none;
  }

  &--active {
    background: utils.$secondary-color;
    padding: 1.25rem;
    font-size: 1.25rem;
    @include utils.shadowed-border($border-radius: 0.5rem);
  }
}
