@use "utils";

.nav {
  background: utils.$secondary-color;

  width: 95%;
  margin-bottom: 2rem;

  @include utils.shadowed-border();

  ul {
    display: flex;
    align-items: center;
    justify-content: space-around;

    height: 3rem;

    list-style-type: none;
  }

  &--active {
    background: utils.$secondary-color;
    font-size: 1.25rem;
    padding: 1.25rem;
    @include utils.shadowed-border($border-radius: 0.5rem);
  }
}
