@use "utils";

.nav {
  background: utils.$gray-05;
  width: 95%;
  @include utils.shadowed-border($shadow-loc: 0);
  margin-bottom: 1rem;

  ul {
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    z-index: 1;
    height: 3rem;
    list-style-type: none;
  }

  &__slider {
    mix-blend-mode: multiply;
    transition: transform 0.125s ease;
    background: utils.$gray-20;
    padding: 2rem;
    @include utils.shadowed-border();
    position: absolute;
    left: 0;
    z-index: 2;
  }
}
