@use "utils";

.panel {
  display: none;
  flex-grow: 8;
  background: utils.$color-blue;
  width: 95%;
  height: 10rem;
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: none;
  @include utils.shadowed-border();

  &--active {
    display: block;
  }
}

.history {
  &__table {
    width: 100%;
    overflow-y: scroll;
    font-size: 0.75rem;
    text-align: center;

    th,
    td {
      padding: 0.5rem;
    }

    tbody {
      overflow: scroll;
    }
  }
}
