@use "utils";

.panel {
  display: none;
  flex-grow: 8;
  width: 95%;
  height: 10rem;
  overflow: hidden;
  @include utils.shadowed-border();

  &--active {
    display: block;
  }
}

.history {
  background: utils.$color-cyan;
  padding-bottom: 1rem;

  &__container {
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
  }

  &__table {
    width: 100%;
    font-size: 0.75rem;
    text-align: center;

    th,
    td {
      padding: 0.5rem;
    }

    tbody {
      overflow: scroll;
    }
  }
}

.add {
  background: utils.$color-blue;
}

.settings {
  background: utils.$color-green;
}
