$primary-color: #f4d738;
$secondary-color: #fff4e8;
$tertiary-color: #87ceeb;

@mixin flex-center() {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin shadowed-border(
  $border-size: 2px,
  $border-radius: 1rem,
  $shadow-loc: 3px
) {
  box-shadow: $shadow-loc $shadow-loc 0px 1px #2b2b2b;
  border: $border-size solid #2b2b2b;
  border-radius: $border-radius;
}
